{:paths ["src"]
 :deps {
        io.github.kotoba-lang/string-split-literal
        {:git/url "https://github.com/kotoba-lang/string-split-literal.git"
         :git/sha "5bcccd9304184426467f05ff8ab379748193647c"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
